.cart-wrapper {
    width: 100vw;
    height: 100vh;
    z-index: 100;
    position: fixed;
}

.cart-background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}


.cart-wrapper--closed {
    animation: 0.3s forwards ease-in-out display-none;


    .cart {
        animation: 0.4s forwards ease-in-out slide-out;
    }

    .cart-background {
        animation: 0.4s forwards ease-in-out hide-background;
    }



}

.cart-wrapper--opened {
    display: block;

    .cart {
        animation: 0.4s forwards ease-in-out slide-in;
    }


}

.cart {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 120;
    height: 100vh;
    width: 500px;
    background-color: white;
}


@keyframes slide-in {
    from {
        margin-right: -100%;
    }

    to {
        margin-right: 0;
    }
}

@keyframes slide-out {
    from {
        margin-right: 0;
    }

    to {
        margin-right: -100%;
    }
}

@keyframes hide-background {
    30% {
        background: none;
    }

    100% {
        display: none;
    }
}

@keyframes display-none {
    0% {
        display: block;
    }

    100% {
        display: none;
    }
}