.cart-wrapper {
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: 100;
    position: fixed;

}




.cart-wrapper--closed {
    animation: 0.4s forwards ease-in-out display-none;


    .cart {
        animation: 0.4s forwards ease-in-out slide-out;
    }




}

.cart-wrapper--opened {
    background-color: rgba(0, 0, 0, 0.3);


    .cart {
        animation: 0.4s forwards ease-in-out slide-in;
    }


}

.cart {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 500px;
    background-color: white;
}

.cart--display-none {
    display: none;
}


@keyframes slide-in {
    from {
        margin-right: -100%;
    }

    to {
        margin-right: 0;
    }
}

@keyframes slide-out {
    from {
        margin-right: 0;
    }

    to {
        margin-right: -100%;
    }
}



@keyframes display-none {
    30% {
        background: none;
    }

    99% {
        width: initial;
        height: initial;
    }

    100% {
        width: 0;
        height: 0;
    }
}