.categories {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 160px;
    min-width: 80%;
}

.categories-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories__button {
    padding: 6px 10px;
    margin: 10px 5px;
    border: 2px solid gray;
    background-color: white;

    &:hover {
        border: 2px solid black;
        cursor: pointer;
    }
}

.categories__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0px;
    padding: 10px;
}

.categories__product-cards {
    margin: 50px 0px 100px 0;
    padding: 10px 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 1300px;
}

@media screen and (max-width: 1050px) {
    .categories__product-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 750px) {
    .categories__product-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px) {
    .categories__product-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}