.product-card {
    max-width: 300px;
    min-width: 110px;
    border: 2px solid gray;
    padding: 10px;

    &:hover {
        border: 2px solid black;
        cursor: pointer;
    }
}

.product-card__link {
    text-decoration: none;
    color: black;
}

.product-card__img {
    width: 100%;
}