.footer {
    margin-top: auto;
}

.footer__newsletter {
    background-color: #191919;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.newsletter__header {
    color: white;
    font-size: 36px;
}

.newsletter__form {
    margin-top: 20px;

    input {
        height: 35px;
        width: 200px;
        outline: none;
        border: none;
        padding: 5px;
        font-size: 16px;

    }

    button {
        height: 35px;
        padding: 5px;
        margin-left: 10px;
        font-size: 16px;
        border: none;

        &:hover {
            cursor: pointer;
        }

    }
}


.footer__links-block {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 200px;
    padding: 10px;
}

.footer__links {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.footer__link {
    display: inline-block;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    transition: 0.2s all;
    height: 20px;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

@media screen and (max-width: 600px) {
    .newsletter__form {
        display: flex;
        flex-direction: column;

        input {
            width: 100%;
        }

        button {
            width: 100%;
            margin: 10px 0px;
        }
    }
}